<div class="content"><br><br>
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title" style="font-size: 30px;"><b>&nbsp;&nbsp;&nbsp;&nbsp;My Profile</b></h4>
        </div>

        <div class="col-sm-7 col-7 text-right m-b-20">
           
            <br><br>
        </div>
    </div>
    <div class="card-box profile-header">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-view">
                    <div class="profile-img-wrap">
                        <div class="profile-img">
                            <a href="#"><img class="avatar" src="/assets/images/Home/Patient_Profile.JPG" alt=""></a>
                        </div>
                    </div>
                    <div class="profile-basic">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="profile-info-left"><br>
                                    <h3 class="user-name m-t-0 mb-0">
                                        {{userdataservice.user.firstname}}&nbsp;{{userdataservice.user.lastname}}</h3>
                                    <small class="text-muted"
                                        style="font-size: 15px;">{{userdataservice.user.gender}}</small> <br>
                                    <div class="staff-id"> <b> Email :
                                        </b>{{userdataservice.user.email}}</div>
                                    <br><br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-tabs">

        <div class="tab-content">
            <div class="tab-pane show active" id="about-cont">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card-box mb-0">
                            <div class="row">
                                <div class="col-sm-4 col-3">
                                    <h4 class="page-title"><b>List Patient</b></h4>
                                </div>

                                <div class="col-sm-8 col-9 text-right m-b-20">
                                    <button type="button" class="btn btn-primary btn-rounded float-right"
                                        data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add
                                        Patient</button>
                                </div>

                                <form [formGroup]="patientForm" *ngIf="patientForm" (ngSubmit)="submit()">
                                    <div id="myModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <div class="modal-content">
                                                <div class="modal-header">

                                                    <h4 class="modal-title"><b>Patient Form</b></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Patient Name</label>
                                                                <input class="form-control" type="text"
                                                                    formControlName="patientname">
                                                            </div>
                                                        </div>


                                                        <div class="col-md-12">
                                                            <div class="row mt-2 ml-1">
                                                                <p>Gender : </p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <div
                                                                    class="custom-control custom-radio custom-control-inline">
                                                                    <input type="radio" class="custom-control-input"
                                                                        id="defaultInline1" value="male" name="gender"
                                                                        formControlName="gender" mdbInput>
                                                                    <label class="custom-control-label"
                                                                        for="defaultInline1">Male</label>
                                                                </div>
                                                                <div
                                                                    class="custom-control custom-radio custom-control-inline ml-3">
                                                                    <input type="radio" class="custom-control-input"
                                                                        id="defaultInline2" value="female" name="gender"
                                                                        formControlName="gender" mdbInput>
                                                                    <label class="custom-control-label"
                                                                        for="defaultInline2">Female</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Phone no</label>
                                                                <input class="form-control" type="text"
                                                                    formControlName="phoneno">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                                <input class="form-control" type="text"
                                                                    formControlName="email">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Age</label>
                                                                <input class="form-control" type="text"
                                                                    formControlName="age">
                                                            </div>
                                                        </div>



                                                    </div>




                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-dismiss="modal" data-target="#myModal">Close</button>
                                                    <button type="submit" value="submit" class="btn btn-primary"
                                                        data-toggle="modal" data-target="#myModal">Save</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>


                            </div>
                            <div class="experience-box">
                                <table *ngIf="listuserPatient" datatable [dtOptions]="dtOptions"
                                    class="row-border hover">
                                    <thead>
                                        <tr>

                                            <th>Patient name</th>
                                            <th>Age</th>
                                            <th>PhoneNo</th>
                                            <!-- <th>City</th> -->
                                            <th>Gender</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let up of listuserPatient">
                                            <td>{{up.patientname}}</td>
                                            <td>{{up.age}}</td>
                                            <td>{{up.phoneno}}</td>
                                            <!-- <td>{{up.cityname}}</td> -->
                                            <td>{{up.gender}}</td>
                                            <td><a [routerLink]="['/patientHome/editfamilymember',up.patientid]">
                                                    <p-button icon="pi pi-user-edit" data-toggle="modal"
                                                        data-target="#myModal"></p-button>
                                                </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>