<div class="sidebar" id="sidebar">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 1306px;">
    <div class="sidebar-inner slimscroll" style="overflow: hidden; width: 100%; height: 1306px;">
    <div id="sidebar-menu" class="sidebar-menu">
    <ul >
    <li class="menu-title">Main</li>
    <li class="active">
    <a [routerLink]="['/admin/dashboard']"><mdb-icon fas icon="tachometer-alt"></mdb-icon> <span>Dashboard</span></a>
    </li>
    <li>
    <a [routerLink]="['/admin/doctor']"><mdb-icon fas icon="user-md"></mdb-icon> <span>Doctors</span></a>
    </li>
    <li>
    <a [routerLink]="['/admin/patient']"><mdb-icon fas icon="wheelchair"></mdb-icon> <span>Patients</span></a>
    </li>
    
    <li>
    <a [routerLink]="['/admin/pharmacy']"><mdb-icon fas icon="clinic-medical"></mdb-icon> <span>Pharmacy</span></a>
    </li>
    
    <li>
    <a [routerLink]="['/admin/pathology']"><mdb-icon fas icon="mortar-pestle"></mdb-icon> <span>Pathology</span></a>
    </li>
     
    <li>
        <a [routerLink]="['/admin/clinic']"><mdb-icon class="fas fa-hospital-alt"></mdb-icon> <span>Clinic</span></a>
        </li>
    
    <li>
    <a href="/diet"><mdb-icon fas icon="utensils"></mdb-icon> <span>Diet</span></a>
    </li>
    
    
    <li>
    <a href="/calendar"><mdb-icon fas icon="calendar-alt"></mdb-icon> <span>Calendar</span></a>
    </li>
    
    
    </ul>
    </div>
    </div>
    <div class="slimScrollBar"
    style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 1315.8px;">
    </div>
    <div class="slimScrollRail"
    style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
    </div>
    </div>
    </div>