.main {
    background: #107eed;
  background: -moz-linear-gradient(
  left,
  #107eed 1%,
  #4e9ded 100%
  );
  background: -webkit-linear-gradient(
  left,
  #107eed 1%,
  #4e9ded 100%
  );
  background: linear-gradient(
  to right,
  #107eed 1%,
  #4e9ded 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#107eed', endColorstr='#4e9ded',GradientType=1 );
  
  }


  /* Footer */

  