
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="dash-widget">
                    <span class="dash-widget-bg1"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>{{doctorCount}}</h3>
                        <span class="widget-title1">Doctors <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dash-widget">
                    <span class="dash-widget-bg2">
                        <mdb-icon fas icon="user"></mdb-icon>
                    </span>
                    <div class="dash-widget-info text-right">
                        <h3>{{patientCount}}</h3>
                        <span class="widget-title2">Patients <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dash-widget">
                    <span class="dash-widget-bg3">
                        <mdb-icon fas icon="clinic-medical"></mdb-icon>
                    </span>
                    <div class="dash-widget-info text-right">
                        <h3>{{pharmacyCount}}</h3>
                        <span class="widget-title3">Pharmacy <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dash-widget">
                    <span class="dash-widget-bg4">
                        <mdb-icon fas icon="mortar-pestle"></mdb-icon>
                    </span>
                    <div class="dash-widget-info text-right">
                        <h3>{{pathologyCount}}</h3>
                        <span class="widget-title4">Pathology <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col">
                <div class="dash-widget">
                    <span class="dash-widget-bg1"><mdb-icon far icon="file-alt"></mdb-icon></span>
                    <div class="dash-widget-info text-right">
                        <h3>{{kycDoctor}}</h3>
                        <span class="widget-title1">KYC Doctors <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dash-widget">
                    <span class="dash-widget-bg2">
                        <mdb-icon fas icon="check-circle"></mdb-icon>
                    </span>
                    <div class="dash-widget-info text-right">
                        <h3>{{activeDoctor}}</h3>
                        <span class="widget-title2">Active Doctors <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dash-widget">
                    <span class="dash-widget-bg3">
                        <mdb-icon fas icon="hourglass-half"></mdb-icon>
                    </span>
                    <div class="dash-widget-info text-right">
                        <h3>{{pendingDoctor}}</h3>
                        <span class="widget-title3">Pending Doctors <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dash-widget">
                    <span class="dash-widget-bg4">
                        <mdb-icon far icon="pause-circle"></mdb-icon>
                    </span>
                    <div class="dash-widget-info text-right">
                        <h3>{{pauseDoctor}}</h3>
                        <span class="widget-title4">Pause Doctors <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">

            <div class="col">
                <div class="dash-widget">
                    <span class="dash-widget-bg3">
                        <mdb-icon fas icon="check-circle"></mdb-icon>
                    </span>
                    <div class="dash-widget-info text-right">
                        <h3>{{doneAppointmentForAllDoctor}}</h3>
                        <span class="widget-title3">Appointment Successful <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dash-widget">
                    <span class="dash-widget-bg1">
                        <mdb-icon fas icon="hospital"></mdb-icon>
                    </span>
                    <div class="dash-widget-info text-right">
                        <h3>{{clinicCount}}</h3>
                        <span class="widget-title1">Total Clinics<i class="fa fa-check"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
            
        </div>
   

    </div>


