
    <div class="content">
    <div class="row">
    <div class="col">
    <div class="dash-widget">
    <span class="dash-widget-bg1">
    <mdb-icon fas icon="calendar-check"></mdb-icon>
    </span>
    
    <div class="dash-widget-info text-right">
    <h2>{{todayAppointmentCount}}</h2>
    <span class="widget-title1">Today Appointment <i class="fa fa-check"
    aria-hidden="true"></i></span>
    </div>
    </div>
    </div>
    <div class="col">
    <div class="dash-widget">
    <span class="dash-widget-bg3">
    <mdb-icon fas icon="hourglass-half"></mdb-icon>
    </span>
    <div class="dash-widget-info text-right">
    <h2>{{waitForAcceptCount}}</h2>
    <span class="widget-title3">Wait For Accept <i class="fa fa-check"
    aria-hidden="true"></i></span>
    </div>
    </div>
    </div>
    <div class="col">
    <div class="dash-widget">
    <span class="dash-widget-bg2">
    <mdb-icon fas icon="check-circle"></mdb-icon>
    </span>
    <div class="dash-widget-info text-right">
    <h2>{{acceptCount}}</h2>
    <span class="widget-title2">Appointment Accept <i class="fa fa-check"
    aria-hidden="true"></i></span>
    </div>
    </div>
    </div>
    
    </div>
    <div class="row">
    
    <div class="col">
    <div class="dash-widget">
    <span class="dash-widget-bg4">
    <mdb-icon fas icon="times-circle"></mdb-icon>
    </span>
    <div class="dash-widget-info text-right">
    <h2>{{rescheduleCount}}</h2>
    <span class="widget-title4">Appointment Reject <i class="fa fa-check"
    aria-hidden="true"></i></span>
    </div>
    </div>
    </div>
    <div class="col">
    <div class="dash-widget">
    <span class="dash-widget-bg1">
    <mdb-icon fas icon="check-circle"></mdb-icon>
    </span>
    <div class="dash-widget-info text-right">
    <h2>{{doneCount}}</h2>
    <span class="widget-title1">Appointment Done<i class="fa fa-check"
    aria-hidden="true"></i></span>
    </div>
    </div>
    </div>
    <div class="col">
    <div class="dash-widget">
    <span class="dash-widget-bg3">
    <mdb-icon fas icon="hospital"></mdb-icon>
    </span>
    <div class="dash-widget-info text-right">
    <h2>{{listDoctClinic}}</h2>
    <span class="widget-title3">Clinics <i class="fa fa-check" aria-hidden="true"></i></span>
    </div>
    </div>
    </div>
    
    </div>
    
    
    
    
    </div>
    
