
    <div class="content">
    <div class="row">
    <div class="col-sm-4 col-3">
    <p class="page-title" style="font-weight: bold;font-size: 20px;">Appointment</p>
    </div>
    </div>
    
    
    <form>
    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    
    <div class="modal-content">
    <div class="modal-header">
    
    <h4 class="modal-title"><b>Appoinment Form</b></h4>
    </div>
    <div class="modal-body">
    
    <div class="form-group">
    <label>Disease </label>
    <input class="form-control" type="text">
    </div>
    
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-toggle="modal"
    data-dismiss="modal" data-target="#myModal">Close</button>
    <button type="submit" value="submit" class="btn btn-primary" data-toggle="modal"
    data-target="#myModal">Save</button>
    </div>
    </div>
    
    </div>
    </div>
    </form>
    
    
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
    <tr>
    <th>ID</th>
    <th>Patient</th>
    <th>Clinic</th>
    <th>AppointmentDate</th>
    <th>AppointmentTime</th>
    <th>Status</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of listAppointment">
    <th scope="row">{{a.appointmentid}}</th>
    <td>{{a.patientname}}</td>
    <td>{{a.clinicname}}</td>
    <td>{{a.appointMentDate | date:'mediumDate'}}</td>
    <td>{{a.appointMentDate | date:'mediumTime'}}</td>
    <td *ngIf="a.statusid">
    <span class="{{appointmentService.appointmentStatus[a.statusid]}}">{{appointmentService.appointmentStatus[a.statusid]}}</span>
    </td>
    <td class="text-right">
    <div class="dropdown dropdown-action">
    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" styleClass="p-mr-2" data-toggle="modal" (click)="accept(a.appointmentid)"><mdb-icon fas icon="check"></mdb-icon> &nbsp; Accept</a>
    <a class="dropdown-item" styleClass="p-mr-2" data-toggle="modal" (click)="reject(a.appointmentid)"><mdb-icon fas icon="times"></mdb-icon> &nbsp; Reject</a>
    <a class="dropdown-item" styleClass="p-mr-2" [routerLink]="['/doctorHome/patienproceed',a.appointmentid]"><mdb-icon fas icon="arrow-alt-circle-right"></mdb-icon> &nbsp; Proceed</a>
    <a class="dropdown-item" styleClass="p-mr-2" data-toggle="modal"><mdb-icon fas icon="sync"></mdb-icon> &nbsp; Reschedule</a>
    
    </div>
    </div>
    </td>
    </tr>
    </tbody>
    </table>
    
    
    </div>

